body{
    font-family: sans-serif;
    margin: 0;
}

a{
    text-decoration: none;
    color: black;
}

header{
    display: flex;
    height: 70px;
    background-color: skyblue;
    justify-content: space-evenly;
    align-items: center;

    padding: 10px;
}

.logo{
   
    display: flex;
    align-items: center;
}

.logo img{
    height: 50px;
    margin-right: 10px;
}

nav a{
    font-weight: 600;
    padding-right: 10px;
}

nav a:hover{
    color: white;
}
*{
   padding: 0%;
   margin: auto;
   box-sizing: 0px;

}
.figure-bg{
    height: 80px;
    width: 100%;
    background-image: url(color.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 8px 8px 0 0 ;

}
.difuminado{
    filter: drop-shadow(1px 2px 10px rgb(25, 0, 255));
    height: 80%;
  display: block;
  margin: auto;



}

.contenedor{
    width: 80vw;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    padding-top: 50px;
    padding-bottom: 50px;

}

.card{width: 300px;
     border: 3px solid rgb(132, 132, 141);
     border-radius: 10px 10px 10px 10px;
     transition: all .1s;
     transform-origin: 30%;

}

figure{
    height: 250px;
    width: 100%;
   
    overflow: hidden;
}

.texto{
    background-color: rgb(171, 231, 231);
    border: 2px solid blue;
    border-radius: 0px 0px 10px 10px;
    padding: 15px;
}
.texto p{
    line-height: 1.5;
    padding: 10px;
}
.texto input{
    border: none;
}

.card:hover.texto{
    width: 320px;
}

input{
    border: rgb(253, 253, 253);
    padding: 15px 50px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
    background-color: rgb(0, 60, 255);
    color: rgb(0, 0, 0);
}
input:hover{
     background-color: rgba(59, 46, 109, 0.966);
    color: rgb(255, 255, 255);
}

main{
    background-image: url(Imagenesplay/logooooo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
footer {
    color: white;
    background-color: skyblue;
    font-family: sans-serif;
    height: 30vh;
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.cajafooter p{
    color: rgb(54, 47, 47);
    font-weight: 600;
}


@media(width<600px){
    footer{
        flex-direction: column;
      
    }
    
footer nav{
    margin-top: 20px;
}
nav{
    display: flex;
    flex-direction: column;
    
}
    
}